@model List<ToDoLab.Models.ToDoItem>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Task
            <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>
    }
</ul>
<a asp-action="Create">Add New Item</a>